---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Section from "../../components/Section.astro";
import BlogPostDisplayer from "../../components/BlogPostDisplayer";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const allFilters = Array.from(new Set(posts.map((post) => post.data.tags).flat())).sort();
---
<Layout title="Blog - Michael Reeve" activePath="blog">
    <Section title="Blog">
        <BlogPostDisplayer defaultPosts={posts} allFilters={allFilters} client:load></BlogPostDisplayer>
    </Section>
</Layout>