---
import Contact from "../components/Contact.astro";

import { Image } from 'astro:assets';
import me_square from "../assets/me_square.jpg";

const { about } = Astro.props;
---

<div class="flex items-center flex-col sm:flex-row gap-6 mb-5">
    <div
        class="left-col flex-auto order-1 sm:h-auto text-lg sm:text-xl md:text-2xl lg:text-2xl font-semibold"
    >
        <div class="about-p">
            {about}
        </div>
    </div>

    <div class="w-[200px] sm:w-full order-2 rounded-lg">
        <Image
            src={me_square}
            alt="Michael Reeve"
            width="600"
            height="600"
            style="border-radius:8px"
        />
    </div>
</div>

<style>
    .me-pic-div {
        width: 200px;
    }
</style>
