---
const { classProp } = Astro.props;
---

<div class={classProp}>
    <a href="mailto:michael.s.reeve@gmail.com">
        <div class="bg-gradient-to-r from-sky-400 to-blue-500 hover:from-sky-500 hover:to-blue-600 m-auto sm:m-0 rounded text-white font-bold text-2xl text-center align-middle py-3 cursor-pointer">
            Contact Me!
        </div>
    </a>
</div>