---
---

<footer
    class="dark:bg-zinc-900 bg-[#f6f8fa] py-2 mt-1 border-y-2 dark:border-0"
>
    <div class="w-full px-5 text-center">© 2023 Michael Reeve</div>
    <div class="w- full px-5 text-center">
        Developed with ❤️ using <a
            href="https://astro.build"
            class="text-[#ff5d01] font-bold underline">Astro</a
        >
    </div>
</footer>
