---
import Title from "./Title.astro";

export interface Props {
    classProp: string;
    title: string;
}

const { classProp, title } = Astro.props;
---

<div class={`max-w-4xl m-auto ${classProp} px-3 md:px-5`}>
    <Title text={title} />

    <div class="p-2 text-base md:text-lg lg:text-xl">
        <slot />
    </div>
</div>
