---

export interface Skill{
    name: string;
    svg: string;
}


const { skills } = Astro.props;

---
<div>
    <div class="text-xl">Languages</div>
    <div class="grid grid-cols-2 sm:grid-cols-3">
        {skills["languages"].map((skill : Skill) => (
            <div class="bg-white dark:bg-[#161b22] rounded p-1 m-1 border dark:border-[#21262d]">
                {skill.name}
            </div>
        ))}
    </div>

    <div class="text-xl">Frameworks</div>
    <div class="grid grid-cols-2 sm:grid-cols-3">
        {skills["frameworks"].map((skill : Skill) => (
            <div class="bg-white dark:bg-[#161b22] rounded p-1 m-1 border dark:border-[#21262d]">
                {skill.name}
            </div>
        ))}
    </div>

    <div class="text-xl">Tools</div>
    <div class="grid grid-cols-2 sm:grid-cols-3">
        {skills["tools"].map((skill : Skill) => (
            <div class="bg-white dark:bg-[#161b22] rounded p-1 m-1 border dark:border-[#21262d]">
                {skill.name}
            </div>
        ))}
    </div>
</div>