---
const { text } = Astro.props;

import "@fontsource/source-code-pro/800.css";
---

<div
    class="title text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-blue-500 text-3xl md:text-4xl lg:text-5xl"
>
    {text}
</div>

<style>
    .title {
        font-family: "Source Code Pro", monospace;
        font-weight: 800;
    }
</style>
