---
import { SEO } from 'astro-seo';
import { ViewTransitions } from 'astro:transitions';

export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link rel="icon" href="/favicon.ico" />
        <meta
            name="theme-color"
            content="#f4f4f5"
            media="(prefers-color-scheme: light)"
        />
        <meta
            name="theme-color"
            content="#0f172a"
            media="(prefers-color-scheme: dark)"
        />
        <SEO 
            title={title}
            description="Michael Reeve's Portfolio"
            openGraph={{
                basic: {
                  title: `${title}`,
                  type: "profile",
                  image: "https://avatars.githubusercontent.com/u/26291638?v=4",
                },
              }}
        />
        <ViewTransitions />
    </head>
    <body
        class="text-black dark:text-white bg-gradient-to-tl from-slate-100 to-zinc-100 dark:from-stone-900 dark:to-slate-900 transition-all min-h-screen flex flex-col"
    >
        <slot />
    </body>
</html>
